*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: var(--background-white);
    }

    header {
      background-color: #ffffff;
      color: white;
      padding: 1em;
      box-shadow: 0 0 10px rgba(0, 26, 255, 0.356);
      bottom: 0px;
      left: 0px;
      right: 0px;
      display: flex;
      padding: 0px;
      position: fixed;
      justify-content: space-between;
      align-items: center;
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav button {
      margin-left: 1em;
      padding: 0.5em 1em;
      border: none;
      background-color: white;
      color: #000000;
      border-radius: 5px;
      cursor: pointer;
    }


    .vehiculo {
      background: var(--background-white);
      border: 1px solid #ddd;
      border-radius: 10px;
      height: auto;
      margin: 0px;
      padding-bottom: 8%;
      box-sizing: border-box;
      display: fl;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .vehiculo img {
      width: 100%;
      max-width: 300px;
      height: auto;
      margin-bottom: 0px;
      display: block;
    }

    .seccion {
      display: none;
      background-color: var(--background-white);;
      width: 100%;
      height: auto;
    }
#lista-vehiculos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    padding: 2%;
}
    #home {
      display: block;
    }
    .img-home , .img-app{
        width: 30px;
        height: 30px;
    }
    .app-options {
      background-color: rgb(185, 162, 162);
    }
    .p-menu {
      margin: 0px;
    }
    .img-producto{
        width: 100px;
        height: 100px;
    }
.nombre-vehiculo{
    font-size: 15px;
    height: auto;   
    padding: 2%;
    width: 100%;
    display: flex; 
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.info-vehiculo{
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
}
.descripcion-vehiculo {
    background-color: rgb(255, 255, 255);
    height: 5vh;
    padding: 2%;
}
.precio-vehiculo{
    margin: 0% 2% 4% 2%;
    border-radius: 20px;
    padding: 2%;
    font-size: 13px;
    background-color: rgba(0, 255, 13, 0.151);
}