:root{
    --background: #ff4800; /* Green */
    --secondary-color: #fadedc; /* Red */
    --background-color: #f0f0f0; /* Light Gray */
    --text-color: #333; /* Dark Gray */
    --background-white:#ffffff; /* White */
    --background-black:#000;
    --background-gray: #f5f5f5; /* Light Gray */
    --border-color: #e9e6e6; /* Light Gray */
    --primary-color: #00b306; /* Green */
    --text-color: #a0a0a0; /* Dark Gray */
    --text-white-color: #ffffff; /* White */
    --text-black-color: #000; /* Black */
    --text-secondary-color: #000000; /* Light Gray */
    --font-family: 'Arial', sans-serif; /* Default font */
    --yape:#fda692;
    --background-btn-font-color: rgb(248, 235, 235);
}   
.btn-primary{
    background-color: rgb(248, 235, 235);
    width: 96%;
    color:var(--background);
    border: 1px solid var(--background);
    padding: 5%;
    border-radius: 8px;
    margin-left: 2%;
    margin-right: 2%;
}
#metodo-pago-modal{
  background-color: var(--secondary-color);
  width: 100%;
  padding: 5% 2%;
  border-radius: 5px;
  border: none;
}
#confirmar-pago-modal{
    background-color: var(--primary-color);
    width: 100%;
    padding: 5% 2%;
    border: none;
    color: var(--text-white-color);
    border-radius: 5px;
}
#cerrar-modal{
    background-color: var(--text-secondary-color);
    width: 100%;
    padding: 5% 2%;
    border: none;
    color: var(--text-white-color);
    border-radius: 5px;
}
.li{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(240, 240, 240);
}
.container-vehiculos{
    background-color: rgb(255, 255, 255);
    display: flex;
    pad: 0% 2%;
    align-items: center;
}
.titulo-vehiculos {
    color: var(--text-color);
    margin: 2% 2%;
    width: auto;
}
.hr-vehiculos{
    width:75%;
    border: 1px solid var(--border-color);
    text-align: center;
}
.ver-todos{
}